jupyterlab
langchain
langchain-openai
python-dotenv
langchain-community
langchain-chroma
langchain-groq
langchainhub
faiss-cpu
docarray
tiktoken
fastembed
bs4
fpdf2
pandas
openpyxl
streamlit
plotly
huggingface-hub
sentence-transformers
